<%= form_with model: current_user.active_relationships.find_by(followed_id: @user.id), method: :delete do |f| %>
  <div class="form-group">
    <%= f.submit 'Unfollow', class: 'btn btn-block' %>
  </div>
<% end %>
